@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Raleway:ital,wght@0,500;0,700;1,400&display=swap");

:root {
	--guayerd: #24305e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Raleway";
	font-weight: 500;
}

html {
	width: 100%;
}

li {
	list-style: none;
}

.pointer {
	cursor: pointer;
}

.logo-guayerd {
	cursor: pointer;
}

.cerrar-sesion {
	width: 10%;
	background-color: var(--guayerd);
}

.cerrar-sesion1 {
	background-color: var(--guayerd);
}

.cerrar-sesion:hover,
.cerrar-sesion1:hover {
	background-color: #0f1a2f;
}

.navbar {
	height: 8%;
}

.logo-guayerd {
	margin: 0 20px;
}

.logo-guayerd-g {
	display: none;
}

.img-jugador {
	width: 100%;
}

.jugador-dorsal {
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: 10px;
	right: 16px;
}

.overflow {
	height: 270px;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.card {
	border-radius: 10px;
}

@media (min-width: 1368px) {
	.nuestros-jugadores {
		width: 20vw;
	}
}

@media (max-width: 575px) {
	li {
		flex-direction: column !important;
	}
	.logo-guayerd,
	.mapa,
	.jugadores {
		display: none;
	}
	.logo-guayerd-g {
		display: inline-block;
	}

	.scaloneta {
		margin-top: 7px;
	}
	.cerrar-sesion {
		width: 90%;
	}

	.title-container {
		margin-top: 0.5rem !important;
	}

	.nuestros-jugadores {
		width: 60%;
	}

	.ul {
		justify-content: space-between;
	}

	.cerrar-sesion {
		display: none;
	}
}
